<div class="index-container">
  <div class="session-login-form">
    <form id="registration" action="/sessions" method="POST">
      <input type="email" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <input class="sign-in-btn" type="submit" value="sign in">
       <a class="register-link"href="/users/new">register</a>
      <p class="errors">
        <% if @errors %>
          Oops! <%= @errors %>
        <% end %>
      </p>
    </form>

  </div>
</div>
